[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/deltagi/minecraft
User=deltagi
Group=deltagi
ExecStart=/home/deltagi/minecraft/start.sh
ExecStop=/home/deltagi/minecraft/stop.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
